@import "tailwindcss";
@import "tw-animate-css";

body{
  background-color: #02000f;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 65s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  flex-shrink: 0;
}
