@import "tailwindcss";
@import "tw-animate-css";

body{
  background-color: #02000f;
  box-sizing: border-box;
  overflow-x: auto;
  color: #ffffff;
  padding: 0%;
  margin: 0%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 65s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  flex-shrink: 0;
}

.gridSolve {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 10px;
}

.gridObjects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin: 5px;
  gap: 20px;

}

@media (max-width: 568px) {
  .gridSolve {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
}
