@import "tailwindcss";
@import "tw-animate-css";

body{
  background-color: #02000f;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 65s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  flex-shrink: 0;
}

.gridSolve {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  padding: 20px;
  gap: 10px;
}

.gridObjects {
  border: #747379 solid 2px;
  margin-bottom: 16px;
  padding: 10px;
  gap: 20px;
  position: relative;
}
.gridObjects:hover  {
  opacity: 0.8;
}
.text {
  white-space: nowrap;      /* Не переносить на новую строку */
  overflow: hidden;         /* Скрыть всё, что не помещается */
  text-overflow: ellipsis;
}